<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #titulo><img class="logo" src="../../../assets/img/logo-duoc.svg"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h1 class="titulo">Sistema de asistencia Duoc UC</h1>
  </ion-title>
  
  <div class="ion-padding-vertical contenedor">
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Recuperar contraseña</h2>
        </ion-label>
      </ion-card-title>
        <ion-card-content>
          <h1>¡Correcto!</h1>
          <h2>Tu contraseña es:</h2>
          <ion-item>
            <ion-label class="ion-text-center"><h1 style="color:black;"*ngIf="usuario">{{ usuario.password }}</h1></ion-label>  
          </ion-item>
        </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
    <ion-label>
      <br>
      <ion-button shape="round" routerLink="/ingreso" style="max-width: 190px; font-size: 12px;">Iniciar sesión</ion-button>
    </ion-label>
    </div>
  </div>
</ion-content>