<ion-card class="ion-text-center ion-padding-vertical">
  <!-- Título del card -->
  <ion-card-title class="ion-text-center">
    <ion-label>
      <h1 #itemBienvenido>¡Bienvenido!</h1>
      <br>
      <h1 *ngIf="usuario" #itemNombre>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
      <br>
      <h2>Escanea el código QR para registrar tu asistencia a clases</h2>
    </ion-label>
  </ion-card-title>

    <!-- Contenido del card -->
    <ion-card-content>
      <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Comenzar Escaneo de QR
      </ion-button>
    
      <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener escaneo de QR
      </ion-button>
    
      <video #video [hidden]="!escaneando" width="100%"></video>
      <canvas #canvas hidden></canvas>

    </ion-card-content>
</ion-card>


