h1, h2, h3, p{
    color:white;
}
a{
    text-decoration: none;
}
ion-content{
    --background: url("../../../assets/img/background.jpg") no-repeat center center / cover;
}
ion-toolbar {
    text-align: center;
    --ion-toolbar-background: #021E2F;
}
ion-card{
    --background: rgba(0,0,0,0.5);
    border-top-left-radius: 0px;
}
ion-button{
    --background: #F1B634;
}
.logo{
    max-width: 140px;
    margin-left:10px;
}
.cerrar-sesion{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
.tabs{
    margin-bottom: -26px;
    display: flex;
    max-width: 150px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
}
.tab-button-active{
    color: #021E2F;
    background-color: #F1B634;
    padding:15px;
}
.tab-button-inactive{
    background-color: #585858;
    color: #2c2c2c;
    padding:15px;
}

.subirQR{
    color: black;
}
.titulo-animado{
    font-size: 12px;
}