<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center;">
      <img class="logo" src="../../../assets/img/logo-duoc.svg">
      <ion-title #titulo style="flex-grow: 1;">
        <p class="titulo-animado">Sistema de asistencia Duoc UC</p>
      </ion-title>
    </div>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-segment #miSegment value="qr" [(ngModel)]="currentSegmentValue" (ionChange)="segmentChanged()">
      <ion-segment-button value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miclase">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misdatos">
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor"><ion-router-outlet></ion-router-outlet></div>
</ion-content>
