.centrar-boton {
  text-align: center;
}
ion-card{
  --background: rgba(0,0,0,0.5);
  padding:10px;
}
ion-button{
  --background: #F1B634;
  max-width: 300px;
  margin-top: 10px;
}
ion-item{
  --background: rgba(0,0,0,0);
}
.items{
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
}
ion-segment-button{
  --ion-color-primary: white;
}