.alinear-centro {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.alinear-derecha {
  text-align: right;
}

h1, h2, h3, p{
  color:white;
  margin-bottom: 0px;
}
h1{
  margin-top:10px;
}
h4{
  color: black;
}
ion-card{
  --background: rgba(0,0,0,0.5);
  padding:0px;
}
.tabla {
  border: 1px solid #ccc; /* Establece un borde gris para el contenedor de la tabla */
  border-radius: 5px; /* Añade un radio de borde para suavizar las esquinas */
  background-color: white; /* Establece el fondo de la tabla como blanco */
}

ion-row {
  border-bottom: 1px solid #ccc; /* Establece un borde inferior gris para cada fila */
}

ion-col {
  padding: 10px; /* Agrega un relleno interno a las celdas para separar el contenido del borde */
  text-align: left; 
}

ion-item{
  --border-radius: 5px;
  margin-bottom: 5px;
}
ion-button{
  --background: #F1B634;
  margin-top: -5px;
}
.publicaciones-recientes{
  text-align: center;
}
.publicacion{
  background-color: white;
}