<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img class="logo" src="../../../assets/img/logo-duoc.svg"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h1 class="titulo">Sistema de asistencia Duoc UC</h1>
    <br>
    <br>
  </ion-title>
  
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
        <ion-card-content>
          <h1>Lo sentimos, pero los datos ingresados no son correctos.</h1>
        </ion-card-content>
    </ion-card>
    
    <div class="ion-text-center">
      <ion-label>
        <br>
        <ion-button shape="round" routerLink="/ingreso" style="max-width: 190px; font-size: 12px;">Iniciar sesión</ion-button>
      </ion-label>
    </div>
  </div>
</ion-content>