<div class="ion-padding-vertical">
  <ion-card class="ion-text-center ion-padding-vertical">
    <ion-card-title class="ion-text-center">
      <ion-label>
        <h1>Datos de la asignatura</h1>
      </ion-label>
    </ion-card-title>

      <ion-card-content>
        <ion-grid class="tabla">
          <ion-row>
            <ion-col>
              Sede:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.sede }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              ID de la Asignatura:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.idAsignatura }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Sección:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.seccion }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Nombre de la Asignatura:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.nombreAsignatura }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Nombre del Profesor:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.nombreProfesor }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Día:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.dia }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Bloque Inicio:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.bloqueInicio }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Bloque Término:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.bloqueTermino }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Hora de Inicio:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.horaInicio }} -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Hora de Fin:
            </ion-col>
            <ion-col>
              <!-- {{ asignatura.horaFin }} -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-label>
      <br>
      <ion-button shape="round" routerLink="/ingreso" style="max-width: 190px; font-size: 12px;">Cerrar sesión</ion-button>
    </ion-label>
  </div>
</div> 