<ion-card class="ion-text-center ion-padding-vertical">
  <!-- Título del card -->
  <ion-card-title class="ion-text-center">
    <ion-label>
      <h1>Datos de la asistencia</h1>
    </ion-label>
  </ion-card-title>

    <!-- Contenido del card -->
    <ion-card-content>
      <ion-grid class="tabla" *ngIf="asistencia.sede">
        <ion-row>
          <ion-col>
            Sede:
          </ion-col>
          <ion-col>
            {{ asistencia.sede }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ID de la asignatura:
          </ion-col>
          <ion-col>
            {{ asistencia.idAsignatura }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Sección:
          </ion-col>
          <ion-col>
            {{ asistencia.seccion }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Nombre de la asignatura:
          </ion-col>
          <ion-col>
            {{ asistencia.nombreAsignatura }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Nombre del profesor:
          </ion-col>
          <ion-col>
            {{ asistencia.nombreProfesor }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Día:
          </ion-col>
          <ion-col>
            {{ asistencia.dia }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Bloque de inicio:
          </ion-col>
          <ion-col>
            {{ asistencia.bloqueInicio }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Bloque de término:
          </ion-col>
          <ion-col>
            {{ asistencia.bloqueTermino }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Hora de inicio:
          </ion-col>
          <ion-col>
            {{ asistencia.horaInicio }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Hora de término:
          </ion-col>
          <ion-col>
            {{ asistencia.horaFin }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="!asistencia.sede">
        <h3>No has escaneado el código QR para mostrar los datos de la clase.</h3>
      </div>
    </ion-card-content>
</ion-card>


