h1, h2, h3, p{
    color:white;
}
.titulo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    font-size: 22px;
}
a{
    text-decoration: none;
}
ion-content{
    --background: url("../../../assets/img/background.jpg") no-repeat center center / cover;
}
ion-toolbar {
    text-align: center;
    --ion-toolbar-background: #021E2F;
}
ion-card{
    --background: rgba(0,0,0,0.5);
}
ion-button{
    --background: #F1B634;
}
.logo{
    max-width: 140px;
    margin-left:10px;
}
.cerrar-sesion{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
.tabs{
    margin-bottom: -26px;
    display: flex;
    max-width: 150px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
}
.tab-button-active{
    color: #021E2F;
    background-color: #F1B634;
    padding:15px;
}
.tab-button-inactive{
    background-color: #585858;
    color: #2c2c2c;
    padding:15px;
}
.titulo-animado{
    font-size: 12px;
}
.tabla{
    background-color: white;
    color: black;
    text-align: start;
}
ion-row{
    border-bottom: 1px solid rgb(226, 226, 226);
}