h1, h2, h3, p{
    color:white;
}
a{
    text-decoration: none;
}

ion-content{
    --background: url("../../../assets/img/background.jpg") no-repeat center center / cover;
}

.tab{
    font-size: 10px;
}

ion-toolbar {
    text-align: center;
    --ion-toolbar-background: #021E2F;
    --ion-color-primary: #F1B634;
}
ion-segment-button:not(.segment-button-checked) {
    color: #ffffff;
  }
  
ion-card{
    --background: rgba(0,0,0,0.5);
}
ion-button{
    --background: #F1B634;
    color:white;
}
.logo{
    max-width: 140px;
    margin-left:10px;
}
.cerrarsesion{
    color: white;
    max-width: 300px;
}

.subirQR{
    color: black;
}
.titulo-animado{
    margin-top: 10px;
    font-size: 12px;
}
.titulo{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  font-size: 22px;
}
.centrar-boton {
    text-align: center;
  }
  ion-card{
    --background: rgba(0,0,0,0.5);
    padding:10px;
  }
  ion-button{
    --background: #F1B634;
    max-width: 300px;
    margin-top: 10px;
  }
  ion-item{
    --background: rgba(0,0,0,0);
  }
  .items{
    background-color: white;
    border-radius: 5px;
  }
  ion-segment-button{
    --ion-color-primary: white;
  }