<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img class="logo" src="../../../assets/img/logo-duoc.svg"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h1 class="titulo">Sistema de asistencia Duoc UC</h1>
  </ion-title>
  
  <div class="ion-padding-vertical">   
    
    <ion-card class="ion-text-center ion-padding-vertical contenedor">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>¡Bienvenido!</h2>
        </ion-label>
      </ion-card-title>

      <form>
        <ion-card-content>
          <ion-item>
            <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input name="password"  label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>

          <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
        </ion-card-content>
      </form>
    </ion-card>

    <div class="ion-text-center">
        <br>
        <ion-button shape="round" routerLink="/correo" style="max-width: 190px; font-size: 12px;">Recuperar contraseña</ion-button>
    </div>
  </div>
  
</ion-content>